.DS_Store
.idea/
__pycache__
./task/__pycache__
./utils/__pycache__
./models/__pycache__
nrrd_files.zip
venv

digitaltwins
configs.ini
requirements_dtp.txt
data/datasets/*
data/duke_test_data

configs_old.ini
configs_public_demo.ini
data/*
!data/.gitkeep

# database
annotator.db
outputs/*
!outputs/.gitkeep
manual_init_db.py
test_db_schema.py
